/* frontenddevreactions.tumblr.com/post/50110341554 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  padding: 0;
  background: #DDD;
  font-family: 'Ubuntu', sans-serif;
}

.right {
  float: right !important;
}

.pre {
  font-size: 11px;
  font-family: monospace;
  white-space: pre-wrap;
}

#controls, #input, #output {
  position: fixed;
  margin: 0;
  border: 1px solid #AAA;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px #BBB;
  box-shadow: 0 0 4px #BBB;
}

#input .CodeMirror, #output {
  background: #FAFAFA;
}

#controls, #input {
  top: 8px;
}

#controls, #output {
  width: calc(60% - 24px);
  left: calc(40% + 16px);
}

#markdown, #output {
  overflow: auto;
}

#controls {
  background: #E5E5E5;
  height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px;
}

#controls .control {
  float: left;
  display: inline-block;
  color: #555;
  border: 1px solid transparent;
  font-size: 11px;
  line-height: 1em;
  margin-right: 2px;
  padding: 10px 6px 11px;
  cursor: pointer;
}

#controls .right .control:last-child {
  margin-right: 0;
}

#controls .control:hover {
  color: #333;
  background: #DDD;
  border-color: #CCC;
}

#controls .control.active {
  color: #444;
  background: #BBB;
  border-color: #999;
}

#input {
  left: 8px;
  height: calc(100% - 16px);
  width: 40%;
}

#output {
  top: 56px;
  height: calc(100% - 64px);
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

#contents {
  padding: 2em;
}

#contents.gfm {
  padding-top: 1em;
}

.CodeMirror {
  height: 100%;
  color: #444;
  font-size: 11px;
  padding: 0.5em;
  padding-right: 1em;
  cursor: text;
}

.CodeMirror-scroll {
  padding: 1em;
  padding-right: 2em;
  height: calc(100% - 2em);
}

@media (max-width: 480px) {
  #input {
    top: 56px;
    height: calc(50% - 64px);
    width: calc(100% - 16px);
  }

  #output {
    top: 50%;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(50% - 8px);
  }

  #controls {
    left: 8px;
    width: calc(100% - 16px);
  }
}
