/* frontenddevreactions.tumblr.com/post/50110341554 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  padding: 0;
  background: #CCC;
  font-family: 'Ubuntu', sans-serif;
}

.right {
  float: right !important;
}

.pre {
  font-size: 11px;
  font-family: monospace;
  white-space: pre-wrap;
}

#controls, #input, #output {
  position: fixed;
  margin: 0;
  border: 1px solid #999;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 2px #AAA;
  box-shadow: 0 0 2px #AAA;
}

#input .CodeMirror, #output {
  background: #FAFAFA;
}

#controls, #input {
  top: 8px;
}

#controls, #output {
  width: calc(60% - 24px);
  right: 8px;
}

#markdown, #output {
  overflow: auto;
}

#controls {
  background: #E5E5E5;
  height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 5px;
}

#controls .control {
  float: left;
  display: inline-block;
  color: #666;
  border: 1px solid transparent;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 11px;
  line-height: 1em;
  margin-right: 5px;
  padding: 7px 6px 8px;
  cursor: pointer;
  -webkit-transition: background 50ms, border 50ms;
  transition: background 50ms, border 50ms;
}

#controls .right .control:last-child {
  margin-right: 0;
}

#controls .control:hover {
  color: #666;
  background: #D5D5D5;
  border-color: #C2C2C2;
}

#controls .control:hover:active {
  padding: 8px 6px 7px;
}

#controls .control.active {
  color: #555;
  background: #C0C0C0;
  border-color: #999;
  -webkit-box-shadow: 0 0 2px #CCC;
  box-shadow: 0 0 2px #CCC;
}

#input {
  left: 8px;
  height: calc(100% - 16px);
  width: 40%;
}

#resizer {
  background: #AAA;
  position: absolute;
  left: calc(40% + 11px);
  width: 2px;
  height: calc(100% - 16px);
  cursor: ew-resize;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#resizer.active {
  background: #888;
}

#cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: ew-resize;
}

#cover.visible {
  display: block;
}

#output {
  top: 56px;
  height: calc(100% - 64px);
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

#contents {
  padding: 2em;
}

#contents.gfm {
  padding-top: 1em;
}

.CodeMirror-scroll {
  padding: 1em;
  padding-right: 2em;
  height: calc(100% - 2em);
}

.cm-s-downplay.CodeMirror {
  height: 100%;
  color: #444;
  font-size: 11px;
  padding: 0.5em;
  padding-right: 1em;
  cursor: text;
}

.cm-s-downplay .cm-comment { color: #75787B; }
.cm-s-downplay .cm-keyword, .cm-s-downplay .cm-property { color: #1D75B3; }
.cm-s-downplay .cm-atom,.cm-s-downplay .cm-number { color: #75438A; }
.cm-s-downplay .cm-node,.cm-s-downplay .cm-tag { color: #9C3328; }
.cm-s-downplay .cm-string { color: #B35E14; }
.cm-s-downplay .cm-variable,.cm-s-downplay .cm-qualifier { color: #047D65; }

@media (max-width: 480px) {
  #input {
    top: 56px;
    height: calc(50% - 64px);
    width: calc(100% - 16px);
  }

  #resizer {
    display: none;
  }

  #output {
    top: 50%;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(50% - 8px);
  }

  #controls {
    left: 8px;
    width: calc(100% - 16px);
  }
}
