/* frontenddevreactions.tumblr.com/post/50110341554 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#html {
  overflow: hidden;
}

body {
  padding: 0;
  background: #DDD;
}

#controls, #input, #output, footer {
  position: fixed;
  margin: 0;
  border: 1px solid #AAA;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px #BBB;
  box-shadow: 0 0 4px #BBB;
}

#controls, #input {
  width: 40%;
  left: 8px;
}

#controls {
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
}

#controls .control {
  display: inline-block;
}

#input .content, #output .content {
  height: 100%;
  margin: 0;
}

#input {
  top: 48px;
  height: calc(100% - 56px);
}

#output {
  top: 8px;
  width: calc(60% - 24px);
  height: calc(100% - 16px);
  left: calc(40% + 16px);
  background: #EEE;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

#output .content {
  padding: 2em;
  padding-top: 1em;
}

.nano > .pane {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0,0,0, 0.125);
  width: 14px;
  padding-bottom: 10px;
}

.nano > .pane > .slider {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.85;
  margin: 2px;
}

.CodeMirror {
  height: 100%;
  color: #444;
}

.CodeMirror-scroll {
  padding: 1em;
  padding-right: 2em;
  height: calc(100% - 2em);
}
