/* frontenddevreactions.tumblr.com/post/50110341554 */
*, *::before, *::after { box-sizing: border-box; }

#html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#input, #output {
  position: fixed;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 1em;
}

#input {
  width: 40%;
  left: 0;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  font-size: 11px;
  color: #555;
}

#output {
  width: 60%;
  left: 40%;
  padding-top: 0;
  overflow-y: auto;
}
