/* frontenddevreactions.tumblr.com/post/50110341554 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#html {
  overflow: hidden;
}

body {
  padding: 0;
  background: #DDD;
}

#input, #output, footer {
  border: 1px solid #AAA;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px #BBB;
  box-shadow: 0 0 4px #BBB;
}

#input, #output {
  position: fixed;
  top: 8px;
  height: calc(100% - 64px);
  margin: 0;
  padding: 1em;
}

#input {
  left: 8px;
  width: 40%;
  outline: none;
  resize: none;
  background: #FFF;
  color: #555;
  font-size: 11px;
  font-family: monospace;
}

#output {
  width: calc(60% - 24px);
  left: calc(40% + 16px);
  overflow-y: auto;
  padding: 1em;
  padding-top: 0;
  background: #EEE;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

footer {
  position: fixed;
  left: 8px;
  bottom: 8px;
  overflow: hidden;
  width: calc(100% - 16px);
  height: 40px;
  padding: 8px;
  background: #CDB;
  border-color: #9A8;
  color: #675;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px #BCA;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer a {
  color: #564;
  font-weight: bold;
}

footer a:hover {
  color: #453;
}
