// frontenddevreactions.tumblr.com/post/50110341554
*, *::before, *::after { box-sizing: border-box; }

#html {
  overflow: hidden;
}

#input, #output {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 1em;
}

#input {
  left: 0;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  font-size: 11px;
}

#output {
  left: 50%;
  padding-top: 0;
}
